/***************** nav bar ***************/
.navbar-props{
    width: 100%;
    height: 55px;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    font-size: 13px;

}

/************ left side into nav ************/

.left-second-nav li {
    margin-right: 3px;
}

.left-second-nav li a, 
.left-second-nav .star-icon-nav{
    padding: 5px 10px;
    border: 2px solid transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.board-button{
    border: #1A2980;
    background-color: #1A2980;
    transition: 0.3s;
}
.left-second-nav li a:hover, 
.left-second-nav .star-icon-nav:hover,
.board-button:hover{
   background-color:#A6C5E229;
}

/*********** right side into nav *******/

.right-second-nav li a{
    margin-left: 15px;
    padding: 5px 10px !important;
    border-radius: 10px;
    cursor: pointer;
}

.right-second-nav li a i {
    margin-right: 5px;
}

.right-second-nav li a:hover {
    background-color:#A6C5E229;

}

/* on medium screen 780px  */
@media (max-width:780px) {
    .navbar-props{
        display: flex !important;
        justify-content: space-between;
    }
/*     .left-second-nav {
        display: block !important;
        position: absolute !important;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: black !important;
    }

    .left-second-nav li a {
        background-color: blue;
    } */
    
}



/***** Work visible buttons ********************************/
.list-workspace{
width: 380px;
height: 300px;
top: 60px;
left: 200px; 
position: absolute;
border: 1px #1A2980  solid;
border-radius: 20px;
z-index: 1;
}

.workspace-visible-section{
    position: relative;
}
.full-visibility{
    font-size: 12px;
}

.private-icon{
color: #e2483d
}


.public-icon{
color: #2abb7f
}



/*----------------------------background's color change button  -------------------------------*/

.swatchy-element {
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 2px 12px;
    height: 30px;
    border-radius: 8px;
    min-width: 80px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color:rgba(0, 0, 0, 0.449);
}

.swatchy-swatches {
    display: grid;
    grid-template-columns: repeat(11, 24px);
    justify-items: center;
    grid-gap: 8px 2px;
    
}

.swatchy-color-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
}

.swatchy-color-button {
    cursor: pointer;
}

.swatchy-display {
    margin: 4px;
    height: 100%;
    max-width: 48px;
    border-radius: 8px;
    border: none;
}


/* From uiverse.io by @Voxybuns */
.swatchy-button {
border-radius: 50%;
font-weight: lighter;
width: 30px;
height: 30px;
margin: 0px 20px;
border: 3px solid white;
background: linear-gradient(to right, #1A2980, #26D0CE); 
color: white;

}




