<nav class="navbar navbar-expand-lg navbar-light navbar-props">
    <div class="container-fluid">
      
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
      >
        <i class="fas fa-bars"></i>
      </button>
  




      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <!-- <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"
          /> -->

        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="#">My Board</a>
          </li>
          <li class="nav-item me-3">
            <i class="bi bi-star m-2"></i>
          </li>

          <div class="workspace-visible-section" >
            <a class="workspace-visible-link" href="#" (click)="toggleWorkspaceList()" style="text-decoration: none;">
              <i class="bi bi-people-fill"></i> Workspace Visible
            </a>
          </div>
          
          <li class="nav-item" style="margin-left: 10px;">
            <button class="btn btn-success d-flex align-items-center board-button">
              <i class="bi bi-box me-2" ></i> Board
            </button>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  






      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <ul class="navbar-nav me-auto m-3  d-flex">
          
          <li class="nav-item "  style="margin-left: 10px;">
            <i class="bi bi-filter m-2"></i>
            <strong>Filter</strong>
          </li>
          
           
  
           <li class="nav-item  " style="margin-left: 20px;">
            <strong> Share</strong>  
            <i class="bi bi-person-plus-fill m-2"></i> 
            
          </li>
        
          <li>
            <button class="swatchy-button swatchy-trigger" (click)="togglePopup()">
            </button>
          </li>
          
          <li>
            <input type="hidden" class="swatchy-output swatchy-display" disabled [style.backgroundColor]="selectedColor" [value]="selectedColor">
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <div class="swatchy-element" [style.display]="popupVisible ? 'block' : 'none'">
    <div class="swatchy-swatches">
      <div *ngFor="let swatch of swatches" class="swatchy-color-button" [style.background]=swatch (click)="selectColor(swatch)"></div>
    </div>
  </div>

<div class="list-workspace bg-dark" *ngIf="workspaceListVisible">
  <div class="container full-visibility">
   
    <div>
    <p class="text-center">Change Visibility</p>
  </div>
  
    <div>
      <i class="fas fa-lock private-icon"></i>
      <p style="display: inline; margin-left:10px">Private</p>
      <br>
      <br>
      <p style="margin-top: 10px;">Only board members can see and edit this board.</p>
    </div>

   

    <div>
      <i class="fas fa-users workspace-icon"></i>
      <p style="display: inline; margin-left:10px" >Workspace</p>
      <br>
      <br>
    <p>All members of the Omar Ashraf's workspace can see and edit this board.</p>  
    </div>

   

    <div>
      <i class="fas fa-globe public-icon"></i>
      <p style="display: inline; margin-left:10px">Public</p>
      <br>
      <br>
      <p> Anyone on the internet can see this board. Only board members can edit.</p>
    </div>

  </div>
</div>

  