<div class="container container-styling">
    <div class="row">
      <div class="col-md-6">
        <br><br>
        <img src="../../assets/images/Password entry and secure login into account.png" alt="" class="sign-up-img">
      </div>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <h6 class="text-center">Reset Your Password</h6>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Your Email Address" (keydown)="clearApiEmailError()">
            <div
            *ngIf="submitted && resetPasswordForm.controls['email'].invalid"
            class="form-text text-danger"
          >
            <strong *ngIf="resetPasswordForm.controls['email'].errors?.['required']"
              >Email is required.</strong
            >
            <strong *ngIf="resetPasswordForm.controls['email'].errors?.['email']"
              >Invalid email format.</strong
            >
          </div>
          <div *ngIf="errormsg.email" class="form-text text-danger">
            <strong>{{ errormsg.email[0] }}</strong>
          </div>
        </div>

          <br>
        
        <div class="mb-3">
          <label for="token" class="form-label">Code:</label>
          <input type="text" class="form-control" id="token" formControlName="token" placeholder="Enter Code You Received">
          <div
            *ngIf="submitted && resetPasswordForm.controls['token'].invalid"
            class="form-text text-danger"
          >
            <strong *ngIf="resetPasswordForm.controls['token'].errors?.['required']"
              >Your Code is required.</strong
            >
          </div>
          <div *ngIf="errormsg.token" class="form-text text-danger">
            <strong>{{ errormsg.token[0] }}</strong>
          </div>  
        </div>
        <br>
        <div class="mb-3">
          <label for="password" class="form-label">New Password:</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Your New Password">  
          <div
            *ngIf="submitted && resetPasswordForm.controls['password'].invalid"
            class="form-text text-danger"
          >
            <strong *ngIf="resetPasswordForm.controls['password'].errors?.['required']"
              >Password is required.</strong
            >
            <strong
              *ngIf="resetPasswordForm.controls['password'].errors?.['minlength']"
              >Password must be at least 8 chars.</strong
            >
          </div>
        </div>
        <br>
        <div class="mb-3">
          <label for="password_confirmation" class="form-label">Confirm New Password:</label>
          <input type="password" class="form-control" id="password_confirmation" formControlName="password_confirmation" placeholder="Confirm Your New Password"> 
          <div
            *ngIf="submitted && resetPasswordForm.controls['password_confirmation'].invalid"
            class="form-text text-danger"
          >
            <strong
              *ngIf="
                resetPasswordForm.controls['password_confirmation'].hasError('required')
              "
              >Retype Password is required.</strong
            >
            <strong
              *ngIf="
                resetPasswordForm.controls['password_confirmation'].hasError(
                  'passwordMismatch'
                )
              "
              >Passwords do not match.</strong
            >
          </div> 
        </div>
        <br>

        <div *ngIf="errormsg.message" class="form-text text-danger">
          <strong>{{ errormsg.message }}</strong>
        </div>  

        <div class="text-center">
          <button type="submit" class="btn btn-primary col-md-8">Change Password</button>
        </div>
      </form>
      
      <!-- Button trigger modal -->
<button type="button" hidden id="modL" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Reset Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-success">{{ res }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="redirectToSignIn()">Back To Sign In</button>
      </div>
    </div>
  </div>
</div>
        
      </div>
    </div>
</div>