<div class="container container-styling">
    <div class="row">
      <div class="col-md-6">
        <br><br>
        <img src="../../assets/images/Password entry and secure login into account.png" alt="" class="sign-up-img">
      </div>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <h6 class="text-center">Reset Your Password</h6>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Your Email Address">  
          </div>

          <br>
          
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password:</label>
          <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Enter Your New Password">  
        </div>
        <br>
        <div class="mb-3">
          <label for="confirmNewPassword" class="form-label">Confirm New Password:</label>
          <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Confirm Your New Password">  
        </div>
        <br>
        <div class="text-center">
          <button type="submit" class="btn btn-primary col-md-8">Change Password</button>
        </div>
      
        
      </div>
    </div>
</div>