<div class="container container-styling">
  <div class="row flex-wrap">
    <div class="col-sm-12 col-md-7 col-lg-6">
      <img src="../../assets/images/signin.png" alt="" class="sign-in-img" />
    </div>
    <div class="col-sm-12 col-md-5 col-lg-6">
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <br /><br /><br /><br /><br />

        <div class="form-group">
          <h3 class="text-center">Log In To Your Account</h3>
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Enter email"
          />
          <div
            *ngIf="submitted && signInForm.controls['email'].invalid"
            class="form-text text-danger"
          >
            <strong *ngIf="signInForm.controls['email'].hasError('required')"
              >Email is required.</strong
            >
            <strong *ngIf="signInForm.controls['email'].hasError('email')"
              >Invalid email format.</strong
            >
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Password"
          />
          <div
            *ngIf="submitted && signInForm.controls['password'].invalid"
            class="form-text text-danger"
          >
            <strong *ngIf="signInForm.controls['password'].hasError('required')"
              >Password is required.</strong
            >
          </div>
        </div>
        <br />
        <div
          *ngIf="submitted && signInForm.controls['email'].valid"
          class="form-text text-danger text-center"
        >
          <strong *ngIf="errormsg">{{ errormsg }}</strong
          ><br /><br />
        </div>
        <div class="text-center">

          <button type="submit" class="btn btn-primary col-md-6">Sign In</button>
          <br><br>
          <a routerLink="forget-password" style="margin-top: 8px;">Forget Your Password ?</a>
           
          <br>

        </div>
      </form>
      <br>
    <div class="sigin-option text-center">
      <button (click)="Google()" class="btn btn-primary google-btn " style="margin-top: 8px;" >
        <i class="fab fa-google"></i> Login with Google
      </button>
      <br>
      <button (click)="Github()" class="btn btn-dark bg-dark google-btn" style="margin-top: 8px;border-color: black;" >
        <i class="fab fa-github"></i> Login with Github
      </button>
    </div>
      <br />
      <div class="d-flex flex-column align-items-center">
        <h5 class="my-auto">-OR-</h5>

        <p class="mt-3">If you don't have an account, <a routerLink="/sign-up">Sign Up</a></p>
        

 
      </div>
    </div>
  </div>
</div>
