
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Invitation Request</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                           
                            <img src="../../assets/hand-painted-watercolor-abstract-watercolor-background_23-2149009911.jpg" alt="" class="send-user-img">
                           
                            <div class="widget-49-meeting-info">
                               <span>Omar Ashraf</span>
                               <span> 12:30 Pm</span>
                            </div>
                        </div>
                        <br>
                     
                      <div class="text-center">
                        <p style="margin-left:5px">Omar Has invited You to Join their Board</p>
                      </div>

                        <div class="widget-49-meeting-action">
                            <button href="#" class="btn btn-sm btn-flash-border-primary" style="color:white" (click)="acceptInvitation()">Accept</button>
                            <button href="#" class="btn btn-sm btn-flash-border-primary" style="color:white" (click)="DeclineInvitation()">Decline</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
    </div>