<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Invitation</title>
</head>
<body>
  <div class="card">
    <img src="../../assets/2023-graphic-share.png" alt="birthday" class="birthday">
    <div class="text">
      <h3>Omar Has Invited You </h3>
      <h4>To Join their board</h4>
      <button class="btn btn-primary" style="margin: 5px;" (click)="acceptInvitation()">Accept </button>
      <button class="btn btn-primary" style="margin: 5px;" (click)="declineInvitation()"> Decline</button>
   
    </div>
    <div class="space"></div>
  </div>
</body>
</html>