body{
    color: #B6C2CF;
}

.custom-button {
width: 180px; 
font-size: 14px;
background-color: #454F59;
border-color: #454F59;

  }
.image{
width: 50px;

border-radius: 50%;
}


  .custom-modal-dialog {
   
    min-width: 70% !important;
  }
  .comment-input::placeholder {
    color: #ccc;
  }
  
  .comment-input {
    background-color: #22272b;
    color: #b6c2cf;
  }
  
  .comment-input:disabled {
    background-color: #eee;
    color: #888;
  }


  .desc-area::placeholder{
    color: #ccc;
  }

  .desc-area{
    background-color: #22272b;
    color: #B6C2CF;
  }

 .custom-modal-content {

    background-color:#f1f2f4;
    color: #172B4D;
  }
  .circular-div {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%; 
    background-color: #454F59; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    font-size: 15px; 
    margin-right: 5px;
    margin-left: 5px;
  
  }

    .checklist {
        background-color:#1D212a;
        border: 1px solid #ccc;
        padding: 10px;
        position: absolute;
        top: 50px;
        left: 650px;
        width: 200px;
        height: 200px;
        border-radius: 20px;
        border-color: #1D212a;
        color: white;
      }

      @media (max-width: 768px) {
        .checklist {
         top:100%;
         right: 100%; /* Adjust the left position for smaller screens */
        }
      }

      .checklist label {
        margin-bottom: 10px;
      }
      
      .checklist input[type="text"] {
        padding: 5px;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: #22272b;
        color: white;
      }
      
      .checklist button {
        width: 100%;
        
      }
      .strikethrough {
        text-decoration: line-through;
      }
      .delete-checklist-btn{
        width: 60px; 
       font-size: 14px;
      background-color: #454F59;
      border-color: #454F59;
      color:white;
      }

      .progress-bar-style{

        height: 10px;
      }

.add-item-btn{
    width: 100px;
    background-color: #454F59;
border-color: #454F59;
margin-top:6px;
    
}

.add-item-input{
    width: 200px;
    height: 30px;
    margin-top: 6px;
}

.save-btn{
    width: 80px;
}


      .delete-icon {
        cursor: pointer;
        color: black;
        transition: color 0.3s;
        font-size: 15px;
      }
      
      .delete-icon:hover {
        color: red; 
      }

      .card{
    
        border: none;
        background: transparent !important;
      }

      .card:hover{
        background-color:#A6C5E229 !important;
      }
   
     
     /****Categories****/

     .create-categories-popup {
      background-color: #1D212a;
      border: 1px solid #ccc;
      padding: 10px;
      position: absolute;
      top: 50px;
      left: 500px;
      width: 300px;
      max-height: 300px;
      border-radius: 10px;
      border-color: #1D212a;
      z-index: 1000;
      color: white;
      overflow-y: scroll; 
      overflow-x: visible; 
      scrollbar-width: thin;
      scrollbar-color: #31303094 #b7b7b75a;
      
    }
    
    .create-categories-popup::-webkit-scrollbar {
      width: 15px;
      border-radius: 5px;
    }
    
    .create-categories-popup::-webkit-scrollbar-thumb {
      background-color: #54515194;
      border-radius: 5px;
    }
    

  


  
  .close-icon{
      font-size: 50px;
  }
  .categories-popup {
    background-color: #1D212a;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    left: 500px; /* Adjust the left position as needed */
    width: 300px;
    height: 600px;
    border-radius: 10px;
    border-color: #1D212a;
    z-index: 1000; /* Set the z-index to a value higher than the modal's z-index to ensure it appears above the modal */
    color: white;
    }
  
  .create-new-categ-btn{
    width: 180px; 
    font-size: 14px;
    background-color: #454F59;
    border-color: #454F59;
  

  }

  .create-categ-btn{
    width: 180px; 
    font-size: 14px;
    background-color: #454F59;
    border-color: #454F59;
  }
    .color-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: 7px;
    }
    
    .color-item {
      margin: 5px; 
    }

    .color-item:focus{
      border-radius: 1px solid;
      border-color: #85B8FF;  
    }
    
    .circle {
      width: 50px;
      height: 50px;
      border-radius: 25%;
      /* Add border style as needed */
    }
    .circle:focus{
    border-color: #85B8FF;
    border-radius: 1px solid;
   
    }
  
    .checked-icon {
    
      margin-left: 8px;
    }
    .category-box {
      display: flex;
     
  }
  
  
  .category-color {
      width: 150px;
      height: 30px;
      border-radius: 10px;
      margin-left: 10px;
  }
  
  .checkbox-color{
     margin-left: 5px;
      height: 25px;
      margin-bottom: 5px;
  }
  
  .category-color-moved {
      width: 70px;
      height: 30px;
      border-radius: 10px;
      margin-left: 10px;
  }
  