
<div class="modal-dialog modal-dialog-scrollable text-dark custom-modal-dialog  " >
  <div class="modal-content custom-modal-content ">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">{{card.title}}</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row">

        <!-----   The left Part -- -->  
        <div class="col-sm-12 col-md-9  mb-4">
          <label for="">Notifications</label>
          <br>
          
          <button class="btn btn-primary d-flex align-items-center custom-button">
            <i class="bi bi-eye"></i> 
      
            <span style="margin-left: 10px;"> Watch </span> 
          </button>
          <br>

          <div class="selected-category">
            <div class="row flex-d">
              <div class="category-color-moved" *ngFor="let selectedCategory of selectedCategories" [style.background-color]="selectedCategory.color">
                <div class="category-title">{{ selectedCategory.title }}</div>
              </div>
            </div>
          </div>
        
          <!----  Show Images Part  --->

          <div *ngIf="uploadedFiles.length > 0">
            <h4>Attachments</h4>
            <!-- <ul>
              <li *ngFor="let file of uploadedFiles">
                {{ file.name }}
              </li>
            </ul> -->
          </div>
          
          <div id="fileDisplay" style="display: flex; flex-wrap: wrap;">
            <div *ngFor="let file of uploadedFiles"
              style="width: 80px; margin: 5px; position: relative;">
                <span class="delete-icon" (click)="removeFile(file)">
                  <i class="bi bi-x-circle" style="margin-bottom: 3px;"></i>
                </span>
                <ng-container [ngSwitch]="file.type">
                  <div *ngSwitchCase="'image'">
                    <img [src]="file.url" alt="{{ file.name }}" style="width: 100%; height: auto; max-width: 100%; max-height: 100%;" />
                  </div>
                  <div *ngSwitchCase="'pdf'">
                    <object data="{{ file.url }}" type="application/pdf" width="100%" height="100%">
                      This is a PDF document: {{ file.name }}
                    </object>
                  </div>
                  <div *ngSwitchCase="'document'">
                    <object data="{{ file.url }}" type="application/msword" width="100%" height="100%">
                      This is a Word document: {{ file.name }}
                    </object>
                  </div>
                  <div *ngSwitchDefault>
                    Unsupported file type: {{ file.name }}
                  </div>
                </ng-container>
            </div>
          </div>
          
          
          <!--  Description Part --->
          <div class="align-items-center" style="font-size: 16px;">
            <p class="p-0 m-1" style="flex: 1;">Description</p>
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <textarea
                    *ngIf="editing"
                    class="form-control desc-area"
                    rows="1"
                    placeholder="Description"
                    [(ngModel)]="description">
                </textarea>
                <p *ngIf="!editing" class="p-0 m-1">{{ description }}</p>
                <div class="button-container">
                    <button *ngIf="editing" (click)="saveDescription()">Save</button>
                    <button *ngIf="editing" (click)="cancelDescription()">Cancel</button>
                </div>
              </div>
            <button *ngIf="!editing" (click)="editDescription()">Edit</button>
          </div>
              
          <!-- Checklist Show part -->
          <div *ngIf="checklistTitles.length > 0">
            <ul style="list-style-type: none; padding-left: 0">
              <li *ngFor="let list of checklistTitles">
                <i class="bi bi-card-checklist" style="padding: 5px 5px"></i>
                <span style="font-size: 20px;">
                  <span *ngIf="list !== editingChecklist" (click)="editChecklistTitle(list)">{{ list.name }}</span>
                  <input *ngIf="list === editingChecklist" type="text" [(ngModel)]="list.name" [ngModelOptions]="{ standalone: true }" />
                  <button *ngIf="list === editingChecklist" (click)="saveChecklistTitle()" class="btn btn-success">Save</button>
                  <button *ngIf="list === editingChecklist" (click)="cancelEditChecklistTitle()" class="btn btn-primary" style="background-color: transparent; border-color: transparent">Cancel</button>
                  <button *ngIf="list !== editingChecklist" class="delete-checklist-btn btn btn-primary" (click)="deleteChecklist(list)">Delete</button>
                </span>

                <div class="progress progress-bar-style" role="progressbar" aria-label="Basic example" aria-valuenow="{{checklistProgress[list.id]}" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" [style.width.%]="checklistProgress[list.id]"></div>
                </div>

                <ul style="list-style-type: none; padding-left: 0;">
                  <li *ngFor="let item of list.items">
                    <input type="checkbox" [(ngModel)]="item.checked" (change)="updateChecklistProgress(list.id)" />
                    <span *ngIf="item.id !== editingItemIds[list.id]">{{ item.name }}</span>
                    <input *ngIf="item.id === editingItemIds[list.id]" [(ngModel)]="item.name" [ngModelOptions]="{ standalone: true }" />
                    <ng-container *ngIf="item.id !== editingItemIds[list.id]; else editButtons">
                      <button (click)="editItemName(list.id, item)" class="edit-item-btn btn btn-primary" style="background-color: transparent; border-color: transparent">Edit</button>
                      <button (click)="deleteItem(list, item)" class="delete-icon btn btn-primary" title="Delete Item" style="background-color: transparent; border-color: transparent">🗑️</button>
                    </ng-container>
                    <ng-template #editButtons>
                      <button (click)="saveItemName(list, item)" class="btn btn-success">Save</button>
                      <button (click)="cancelEditItemName(list.id)" class="btn btn-primary" style="background-color: transparent; border-color: transparent">Cancel</button>
                    </ng-template>
                  </li>
                  <li *ngIf="list.id === editingItemId" style="margin-bottom: 5px">
                    <input class="form-control add-item-input" type="text" [(ngModel)]="checklistItem" [ngModelOptions]="{ standalone: true }" />
                    <button  (click)="addItemToChecklist(list.id)" class="btn btn-success save-btn">Save</button>
                    <button (click)="cancelAddItem()" class="btn btn-primary" style="background-color: transparent; border-color: transparent">Cancel</button>
                  </li>
                </ul>
                <button (click)="addItem(list.id)" class="btn btn-primary add-item-btn">Add Item</button>
              </li>
            </ul>
          </div>
      
          <br>

          <!---   Comments Section  -->
          <div>
            <div class="d-flex align-items-center">
              <i class="bi bi-sort-down-alt"></i>
              <p class="p-0 m-0">Activity</p>
            </div>
            
            <div class="d-flex comment-container">
              <div class="circular-div">
                <div class="initials">User</div>
              </div>
              <input [(ngModel)]="commentText" class="form-control comment-input" placeholder="Write a comment" />
            </div>
            
            <button class="btn save-btn" (click)="saveComment()">Save</button>
            <button class="btn cancel-btn" (click)="clearComment()">Cancel</button>
            
            <div class="comment-history">
              <div *ngFor="let comment of comments; let i = index" class="comment-item d-flex">
                <div class="circular-div">
                  <div class="initials">{{card.title.slice(0, 2)}}</div>
                </div>
                <br>
                <ng-container *ngIf="editingCommentIndex !== i; else editMode">
                  <input [value]="comment" readonly class="form-control comment-input" [disabled]="isInputDisabled" />
                  <button class="btn edit-btn" (click)="enableEdit(i)">Edit</button>
                  <button class="btn delete-btn" (click)="deleteComment(i)">Delete</button>
                </ng-container>
                
                <ng-template #editMode>
                  <input [(ngModel)]="editingCommentText" class="form-control comment-input" />
                  <a class="btn save-btn" (click)="saveEdit(i)">Save</a>
                  <a class="btn cancel-btn" (click)="cancelEdit(i)">Cancel</a>
                </ng-template>
              </div>
            </div>
        
        
        
        

          
          </div>

        </div>
        <!----The Right Part   -->  
        <div class="col-sm-12 col-md-3">
          <label for="">Suggested</label>
          <button class="btn btn-primary custom-button d-flex align-items-center mb-1">
            <i class="bi bi-person"></i>
            <span style="margin-left: 10px;"> Join </span> 
          </button>
          <p class="p-0 m-0">Add to card</p>
    
          <button class="btn btn-primary custom-button d-flex align-items-center mb-2">
            <i class="bi bi-person"></i>
            <span style="margin-left: 10px;"> Members</span> 
          </button>
      
          <!------   Categories  ----->

          <button (click)="togglecreateCategories()" class="btn btn-primary custom-button d-flex align-items-center mb-2">
            <i class="bi bi-tag"></i> 
            <span style="margin-left: 10px;"> Category</span>
          </button>

          <!-- Categories first Toggle -->

          <div class="container create-categories-popup" [hidden]="!showcreateCategories">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mx-auto">
                  <p class="mb-0 text-center">Category</p>
              </div>
              <div (click)="togglecreateCategories()">
                <p class="mb-0">
                <i class="bi bi-x close-acc-icon close-icon" style="font-size: 18px;"></i>
              </div>
            </div>

            <div class="input-group">
                <div class="form-outline">
                    <input id="search-input" type="search" id="form1" class="form-control"  style="width:200px;height:30px"/>
                </div>
                <button id="search-button" type="button" class="btn btn-primary" style="height: 35px; margin-left:10px ;background-color:#54515194 ;border-color:#54515194;height:30px">
                    <i class="fas fa-search" style="margin-bottom: 5px;"></i>
                </button>
            </div>

            <div class="text-center " style="margin-top: 20px; margin-left:35px">
                <button class="btn btn-primary d-flex create-new-categ-btn text-center" (click)="toggleCategories()">Create new Category</button>
            </div> 
      
            <br>
            <div class="container">
              <div class="category-item row" *ngFor="let category of categories; let i = index">
                <div class="row flex-d">
                      <input class="form-check-input checkbox-color" type="checkbox" [value]="category" (change)="toggleCategorySelection(category)" [checked]="isSelectedCategory(category)">
                      <div class="category-color" [style.background-color]="category.color">
                      <div class="category-title">
                        {{ category.title }}
                      </div>
                </div>
                <button class="btn btn-sm" style="color: aliceblue;" >
                    <i class="fas fa-trash" (click)="deleteCategory(i)"></i>
                </button>
              </div>
            </div>
            </div>
      
          </div>

          <!---- category second div-->
          <div class="container categories-popup" [hidden]="!showCategories">
            <div class="d-flex justify-content-between align-items-center">
                  <div class="mx-auto">
                      <p class="mb-0 text-center"> Create New Category</p>
                  </div>
                  <div (click)="toggleCategories()">
                      <p class="mb-0">
                          <i class="bi bi-x close-acc-icon close-icon" style="font-size: 18px;"></i>
                  </div>
            </div>

            <br>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" id="newCategory" placeholder="Enter a new category" [(ngModel)]="newCategoryTitle">
            </div>

            <br>

            <p class="p-0 m-0">Select A Color</p>
            <div class="color-list">
                <div class="color-item" *ngFor="let color of colors">
                    <div class="circle" [style.background-color]="color.color" (click)="selectColor(color.id)">
                        <i class="bi bi-check checked-icon" [hidden]="selectedColor !== color.id"></i>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div class="text-center d-flex ml-5">
                <button class="btn btn-primary create-categ-btn" (click)="createCategory()">Create Category</button>
            </div>

          </div>


          <!--- Checklist   --->
            
            
          <button (click)="toggleChecklist()" class="btn btn-primary custom-button d-flex align-items-center mb-2">
            <i class="bi bi-card-checklist"></i>
            <span style="margin-left: 10px;"> Checklist </span>
          </button>

          <!---  Checklist Toggle Div-->
          <div class="container checklist" [hidden]="!showChecklist">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mx-auto">
                <p class="mb-0 text-center">Checklist</p>
              </div>
                <div (click)="toggleChecklist()">
                  <p class="mb-0">
                    <i class="bi bi-x close-acc-icon" style="font-size: 18px; "></i>
                  </p>
                </div>
            </div>
                <input type="text" class="form-control"  type="text"
                class="form-control"
                id="Checklist"
                name="Checklist"
                placeholder="Please Enter A checklist Title"
                [(ngModel)]="checklistName">

                <button class="btn btn-primary custom-button d-flex align-items-center mb-2"  [disabled]="isChecklistEmpty()"   (click)="showChecklistTitles()">
                  Add a Checklist 
                </button>
          </div>
    
          <!----  DATES -->  
          <button class="btn btn-primary custom-button d-flex align-items-center mb-2">
            <i class="bi bi-calendar-minus"></i>
            <span style="margin-left: 10px;"> Dates</span>
          </button>
                

          <!---  ATTACHMENT -->
          <div>
            <input #fileInput type="file" style="display: none" (change)="onFileSelected($event)" accept="image/*, application/pdf, .doc, .docx">
            <button class="btn btn-primary custom-button d-flex align-items-center mb-2" (click)="fileInput.click()">
              <i class="bi bi-paperclip"></i>
              <span style="margin-left: 10px;">Attachment</span>
            </button>
          </div>

        </div>
      </div>

      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>