<div class="container main-filter">
    <h6 class="text-center">Filter</h6>
    <p>Keyword</p>
    <form role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    
    <div class="fluid-container">
      <p>Members</p>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox1">
        <label class="form-check-label" for="checkbox1">
          <i class="fa fa-user"></i> User 1
        </label>
      </div>
  
 
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox2">
        <label class="form-check-label" for="checkbox2">
          <i class="fa fa-user"></i> User 2
        </label>
      </div>
    </div>


    <div class="fluid-container">
        <p>Members</p>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox2">
            <label class="form-check-label" for="checkbox2">
              <i class="fa fa-user"></i> User 2
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox2">
            <label class="form-check-label" for="checkbox2">
              <i class="fa fa-user"></i> User 2
            </label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox2">
            <label class="form-check-label" for="checkbox2">
              <i class="fa fa-user"></i> User 2
            </label>
          </div>
    </div>
  </div>