<!DOCTYPE html>
<html>
<head>
    <!-- Include your CSS and other meta tags here -->
</head>
<body>
    <br>
    <br>
    <br>
    

    <div class="fluid-container" style="display: flex; flex-direction: column; align-items: center; ">
        <h3 style="margin-right: 10px;">My Profile and visibility</h3>
        <strong class="col-6">Manage your personal information, and control which information other people see and apps may access.</strong>
        <br>
        <br>
    </div>
    
        <div class="container   ">
            <div class="row  big-box ">
                <div class="col-md-8">
                    <!-- Profile Heading -->
                    <!-- =============================== -->
                    <div class="panel">
                        <div class="panel-bg-cover">
                            <img class="img-responsive" src="../../assets/images/header.avif" alt="Image">
                        </div>

                        <div class="panel-media">
                            <img src="https://bootdey.com/img/Content/user_6.jpg" class="panel-media-img img-circle img-border-light" alt="Profile Picture">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="panel-media-heading">Omar Ashraf</h3>
                                    <a href="#" class="btn-link">My Boards</a>
                                    <p class="text-muted mar-btm">Web and Graphic designer</p>
                                </div>
                                <div class="col-md-5 pull-right">
                                    <strong>Who can see this profile ?</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- =============================== -->
                </div>
            </div>
        </div>

        <br>
        <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <div class="signup-form">
                      <form action="" class="mt-5 border p-4 bg-light shadow">
                          <h4 class="mb-5 text-secondary">About You</h4>
                          <div class="row">
                              <div class="mb-3 col-md-6">
                                  <label>Full Name<span class="text-danger">*</span></label>
                                  <input type="text" name="full-name" class="form-control" placeholder="Enter First Name">
                              </div>
      
                              <div class="mb-3 col-md-6">
                                  <label>who can see this ?<span class="text-danger">*</span></label>
                                  <select class="form-select form-select-sm" aria-label="Small select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                              </div>

                              <div class="mb-3 col-md-6">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <input type="text" name="Lname" class="form-control" placeholder="Enter Last Name">
                              </div>

                              <div class="mb-3 col-md-6">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <select class="form-select form-select-sm" aria-label="Small select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>
      
                              <div class="mb-3 col-md-6">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <input type="text" name="Lname" class="form-control" placeholder="Enter Last Name">
                              </div>

                              <div class="mb-3 col-md-6">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <select class="form-select form-select-sm" aria-label="Small select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>
                              
                              <div class="mb-3 col-md-6">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <input type="text" name="Lname" class="form-control" placeholder="Enter Last Name">
                              </div>

                              <div class="mb-3 col-md-6">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <select class="form-select form-select-sm" aria-label="Small select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>
                             
                              <div class="col-md-7">
                                 <button class="btn btn-primary float-end">Update </button>
                              </div>
                          </div>
                      </form>
                    
                  </div>
              </div>
          </div>
      </div>

      

      <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form">
                    <form action="" class="mt-5 border p-4 bg-light shadow">
                        <h4 class="mb-5 text-secondary">Contact</h4>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label>Full Name<span class="text-danger">*</span></label>
                                <input type="text" name="full-name" class="form-control" placeholder="Enter First Name">
                            </div>
    
                            <div class="mb-3 col-md-6">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <input type="text" name="Lname" class="form-control" placeholder="Enter Last Name">
                            </div>

                           
    
                           
                            
                        </div>
                    </form>
                  
                </div>
            </div>
        </div>
    </div>



</body>
</html>