.active,.workspace:hover  {
  background-color: rgba(72, 98, 100, 0.474) !important;
  color: white !important;
}

nav:hover .logo{
  animation-name: logo-icon;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  transition: 0.3s;
}

.logo-brand {
  background-color: rgba(255, 255, 255, 0.564);
  padding: 10px;
}

.link-create {
  transition: 0.2s !important;
}

.link-create:hover {
  background-color: rgba(0, 0, 0, 0.164) !important;
}

@keyframes logo-icon {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate( 360deg);

  }
  
}


.workspaces-dropdown::-webkit-scrollbar{
  background-color: #b7b7b75a;
  height: 15px;
  border-radius: 5px;
  
  }
  
  .workspaces-dropdown::-webkit-scrollbar-thumb{
  height: 15px;
  background-color: #00000094;
  border-radius: 5px;
  size: 25px;
  }



  .load{
    left: 0;
    height: 0;
    width: 100%;
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 100;
  }
  
  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    background: radial-gradient(ellipse at center, #FF3D00 0%, #FF3D00 14%, #FFF 15%, #FFF 100%);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  .loader::after,
  .loader::before {
    content: '';  
    position: absolute;
    height: 16px;
    width: 4px;
    background: #FF3D00;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 25% 0;
    box-sizing: border-box;
    animation: rotation 10s linear infinite;
  }
  .loader::before {
    height: 22px;
    width: 2px;
    transform: translateX(-50%) rotate(0deg);
    animation-duration: 1s;
  } 
  @keyframes rotation {
    0%    { transform: rotate(0deg)}
    100%  { transform: rotate(360deg)}
  } 


  .user-two{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    font-weight:bold;
    color: white !;
}

.user-div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #1c3352 ;
    cursor: pointer;
}
.gradient-button {
  background: linear-gradient(to right, rgb(82, 67, 170) , rgb(237, 80, 180));
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}