/* .create-board{
    background-color: #1D2125;
    width: 250px;
    height: 80px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.main-board-selectors{
    width: 320px;
    border:1px solid black;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    height: (100vh - 100px);
    
}

.first-color{
    width: 40px;
    height: 30px;
    background:linear-gradient(to right, #ff9966, #ff5e62) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-color{
    width: 40px;
    height: 30px;
    background:linear-gradient(to right, #AA076B, #61045F) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-color{
    width: 40px;
    height: 30px;
    background:linear-gradient(to right, #348F50, #56B4D3) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-color{
    width: 40px;
    height: 30px;
    background:linear-gradient(to right, #2b5876, #4e4376) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-color{
    width: 40px;
    height: 30px;
    background:linear-gradient(to right,#355C7D, #6C5B7B,#C06C84) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sixth-color{
    width: 40px;
    height: 30px;
    background:linear-gradient(to right, #ec008c, #fc6767) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.seventh-color{
    width: 40px;
    height: 30px;
    background:linear-gradient(to right, #0F2027, #2C5364), ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.created-boards{
   
    width: 250px;
    height: 80px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */
