
<br><br>

<div class="payment-success">
    <div class="header">
      <i class="ion-close-round close"></i>
    </div>
    <div class="body">
      <h2 class="title">Payment Successful</h2>
      <img class="main-img" src="https://res.cloudinary.com/dw1zug8d6/image/upload/v1542777688/group-3_3x.png" alt="">
      <div class="failed">
        
      </div>
      <p>Your payment was successful! You can <br>
  now continue using Our Premium Plan</p>
      <button class="btn btn-primary">Return to workspace</button>
   
    </div>
  </div>