.sidebar{
   margin-left: 100px;
}

.content {
   margin-left: 250px;
}
.animate{
   transition: 0.5s;
}
.animate2{
   transition: 1s;
}

.toggle {
   width: 250px;
}


@media (max-width:768px) {
/*    .workspace{
      justify-self: center !important;
   } */
   .sidebar,.content{
      margin-left:0 !important;
   }
   


}


/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
   ::ng-deep :root{
    --myFont:'Poppins', sans-serif;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--myFont);
}
@media (max-width:768px) {
 .workspace{
    justify-self: center !important;
 }
 .sidebar{
    margin-left:0 !important;
 }
} */
