<div>
<!--     <app-main-navbar></app-main-navbar>
    <app-sidebar></app-sidebar> -->
    <!-- <app-workspace></app-workspace> -->
    <router-outlet></router-outlet>

</div>


<!--

<app-main-navbar></app-main-navbar>
<div class="d-flex ms-0 p-0">
<div class="me-5 sidebar">
    <app-sidebar class="col-2" ></app-sidebar>
</div>
<div class="workspace col-9">
<router-outlet></router-outlet>
</div>
</div>

-->


<!-- <app-account-button></app-account-button> -->


<!-- <app-share-dialog></app-share-dialog>   -->

<!-- <app-workspace></app-workspace> -->