
   
<router-outlet></router-outlet>

<!--    
    <section>
        <app-main-navbar [openedFlag]="opened" (opened)="toggleDrawer($event)"></app-main-navbar> 
        <mat-drawer-container class="example-container" autosize >
            <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)]="opened">
                <app-sidebar class="sidebar"></app-sidebar>
            </mat-drawer>
            <div class="example-sidenav-content">
                <router-outlet class="content"></router-outlet>
            </div>
        </mat-drawer-container>
    </section> -->






