<div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar"  [ngClass]="{'open':opened}">
  <div class="d-flex justify-content-between align-items-center mb-3 fs-4 link-dark text-decoration-none animate" [ngClass]="{'centerd':!opened}" previewlistener="true">
    <div>
      <i class="bi bi-kanban me-1"></i> <span class="animate">Work</span>
    </div>
    <div class="btn fs-5 icon-close" (click)="close()">
      <i class="bi bi-clipboard2-x"></i>
    </div>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-2">
      <a class="nav-link dropdown fs-4 centerd  animate"  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="workspace" aria-current="page">
          <i class="bi bi-person-workspace"></i>
        <span> Workspaces</span>
      </a>
    <li class="nav-item">
      <a  class="nav-link dropdown fs-4 centerd animate" [routerLinkActive]="'active'" routerLink="boards" aria-current="page">
          <i class="bi bi-clipboard-data"></i>
          <span>

              Boards
          </span>
      </a>
    </li>
  </ul>
 
</div>