<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- Your content here -->
</body>
</html>
<div class="card m-2" style="width: 16rem;" >
  <div class="card-header d-flex justify-content-between">
    <ng-container *ngIf="!editableTitle; else titleEdit">
      <div class="d-flex align-items-center">
        <ng-container *ngIf="!list.title; else showTitle">
          <strong (click)="enableTitleEdit()" class="card-title">Enter your title</strong>
        </ng-container>
        <ng-template #showTitle>
          {{ list.title }}
        </ng-template>
      </div>
    </ng-container>
    <ng-template #titleEdit>
      <input class="form-control title-input" [(ngModel)]="list.title" (keyup.enter)="disableTitleEdit()">
    </ng-template>
    <i class="bi bi-three-dots" ></i>
  </div>


 
  <!-- <ul class="list-group list-group-flush example-list">
    <div cdkDropList [cdkDropListData]="list.tasks" class="example-list my-2" (cdkDropListDropped)="onDrop($event)">
    <li class="list-group-item m-2" *ngFor="let task of list.tasks; let i = index"  cdkDrag>

      <div *ngIf="editIndex !== i; else editTaskField">
        
        <i class="bi bi-pen-fill"  (click)="editTask(i)"></i>
      </div>
      
      <ng-template #editTaskField>
        <input [(ngModel)]="newTask" class="form-control mb-2" placeholder="Edit Task">
        <div class="d-flex">
          <button type="button" class="btn btn-success btn-sm mr-2" (click)="saveTask()">OK</button>
          <i class="bi bi ml-2" (click)="cancelTask()"></i>
        </div>
      </ng-template>


    </li>
    </div>



    <div *ngIf="showInput">
      <div class="d-flex flex-column align-items-center">
        <input [(ngModel)]="newTask" class="form-control mb-2 add-task-input" placeholder="Enter new Task">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-success btn-sm mr-2" (click)="saveTask()">OK</button>
          <i class="bi bi-x-lg" (click)="cancelTask()"></i>
        </div>
      </div>
    </div>
    <button (click)="addTask()" class="btn btn-light">Add new Task 
      <i class="bi bi-plus-square" style="margin-left: 10px;"></i>
    </button>
  </ul> -->



</div>