
<br><br>
<div class="payment-success">
    <div class="header">
      <i class="ion-close-round close"></i>
    </div>
    <div class="body">
      <h2 class="title">Payment Failed</h2>
      <img class="main-img" src="https://res.cloudinary.com/dw1zug8d6/image/upload/v1542777688/group-3_3x.png" alt="">
      <div class="failed">
        <i class="bi bi-x-lg x-icon"></i>
      </div>
      <p>Your payment was Failed <br></p>
      <button class="btn btn-primary" (click)="navigateToworkspace()">Return To workspace</button>
   
    </div>
  </div>