<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Open Invitation Workspace
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Invitation To Workspace</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: aliceblue;"></button>
        </div>
        <div class="modal-body">
          <!-- Search Input and Share Button on the same line -->
          <div class="mb-3 d-flex align-items-center">
            <input type="text" class="form-control" id="searchInput" placeholder="Type here...">
            <button type="button" class="btn btn-primary ms-2">Share</button>
          </div>
          
          <!-- Your other modal body content goes here -->
        </div>
        
      </div>
    </div>
  </div>
  