
<!-- Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="load" *ngIf="showLoader">
      <span class="loader"></span>
    </div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Invitation To Workspace</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: aliceblue;"></button>
        </div>
        <div class="modal-body">
          <!-- Search Input and Share Button on the same line -->
          <div class="mb-3 d-flex align-items-center">
            <input type="text" class="form-control" id="searchInput" placeholder="Type here..." [(ngModel)]="userAccount">
            <button type="button" class="btn btn-primary ms-2"  (click)="inviteUser()">Share</button>
          </div>
          <p>{{error}}</p>
          
          <!-- Your other modal body content goes here -->
        </div>
        
      </div>
    </div>
  </div>