<body class="background" [style.background]="backgroundcolor">
  <div class="my-board">
    <div class="second-nav" style="width: 100%;min-height: 150px;">
      <app-second-nav (newItemEvent)="changebackground($event)"></app-second-nav>
    </div>
    <div class="container">
      <div class="d-flex align-items-start">
        <div class="board" style="display: flex; flex-wrap: nowrap;" cdkDropListGroup cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="onlistDrop($event)">
        <app-list *ngFor="let list of lists" [list]="list" cdkDrag>{{ list }}</app-list>
        </div>
        <div class="">
          <button style="width: 150px !important"
            type="button"
            class="btn btn-primary add-list-btn"
            (click)="addlist()"
          >
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
    




