.modal-content {
    border: none;
    box-shadow: none;
   background-color: #101204c8;
    color: white; 
    
  }
  
  .modal-dialog {
    border: none;
  }
  
  .modal-header,
  .modal-footer {
    border: none;
  }