<div class="container container-styling">
    <div class="row">
       
      <div class="col-md-6">
        <br><br>
        <img src="../../assets/images/Password entry and secure login into account.png" alt="" class="sign-up-img">
      </div>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div
          *ngIf="submitted && forgetPasswordForm.controls['email'].valid"
          class="form-text text-success text-center"
        >
          <strong *ngIf="res">{{ res }}</strong
          ><br /><br />
        </div>
          <h6 class="text-center">Forget Your Password ?</h6>
       
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Your Email Address" (keydown)="clearApiError()">  
            <div
            *ngIf="submitted && forgetPasswordForm.controls['email'].invalid"
            class="form-text text-danger"
          >
            <strong *ngIf="forgetPasswordForm.controls['email'].hasError('required')"
              >Email is required.</strong
            >
            <strong *ngIf="forgetPasswordForm.controls['email'].hasError('email')"
              >Invalid email format.</strong
            >
          </div>
          </div>

          <div
          *ngIf="submitted && forgetPasswordForm.controls['email'].valid"
          class="form-text text-danger text-center"
        >
          <strong *ngIf="errormsg">{{ errormsg }}</strong
          ><br /><br />
        </div>
          <br>

          <div class="text-center">
            <button type="submit" class="btn btn-primary col-md-8">Request Password Reset</button>
          </div>
        </form>
          <br>

        <div class="d-flex flex-column align-items-center">
            <button type="button" class="btn btn-primary col-md-8" (click)="redirectToSignIn()">Back To Sign In</button>
        </div>
      </div>
    </div>
  </div>