<div class="container container-styling">
    <div class="row">
       
      <div class="col-md-6">
        <br><br>
        <img src="../../assets/images/Password entry and secure login into account.png" alt="" class="sign-up-img">
      </div>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          <h6 class="text-center">Forget Your Password ?</h6>
       
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Your Email Address">  
          </div>
          <br>

          <div class="text-center">
            <button type="submit" class="btn btn-primary col-md-8">Request Password Reset</button>
          </div>
          <br>

        <div class="d-flex flex-column align-items-center">
            <button type="submit" class="btn btn-primary col-md-8">Back To Sign In</button>
        </div>
      </div>
    </div>
  </div>